
<div class="wrapper animate__animated animate__fadeInDown">
  <div class="section-1">
    <div class="name logo">
      <!-- <i class="uil uil-rocket"></i> -->
      <img src="assets/logos/logo-sc-abr.png" alt="" class="logo-img">      
    </div>    
  </div>

  <div class="section-2">
    <ul class="list-menu">
      <li class="item-menu" *ngFor="let item of links;let i = index">
        <a [href]="item.src" target="_blank">
          <!-- <span class="item-number">{{i}}.</span> -->
          <span class="link">{{item.name}}</span>
        </a>
      </li>
      <li>
        <mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode">
          <ng-container *ngIf="!isDarkMode; else elseTemplate">        
            <mat-icon matBadgeColor="accent">brightness_6</mat-icon>
          </ng-container>
          <ng-template #elseTemplate>
            <mat-icon matBadgeColor="accent">brightness_2</mat-icon>        
          </ng-template>      
        </mat-slide-toggle>
      </li>
    </ul>    
  </div>
</div>
